Package: com.insanj.quickcarrot
Name: QuickCarrot
Replaces: org.thebigboss.quickcarrot
Depends: mobilesubstrate, libactivator
Version: 1.1
Architecture: iphoneos-arm
Description: Create CARROT tasks from Activator.
Maintainer: insanj <insanjmail@insanj.com>
Author: Julian (insanj) Weiss
Section: Tweaks
Icon: file:///Library/Activator/Listeners/libactivator.quickcarrot/Icon-small@2x.png
